@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

:root,
:root.light {
  --background-color: #fff;
  --text-color: #333;
  --shade-100: #efefef;
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;
  --secondary-color: #faf6e2;
  --btn-color: rgba(255, 230, 102, 0.43);
  --grey-color: #c2bfbc;
  --grey-text: #595959;
}

@media (prefers-color-scheme:light) {
  :root {
    --background-color: #fff;
    --text-color: #333;
    --shade-100: #efefef;
    --shade-300: #8a8a8a;
    --shade-500: #3d3d3d;
    --secondary-color: #fffcf0;
    --btn-color: rgba(255, 230, 102, 0.43);
    --grey-color: #c2bfbc;
    --grey-text: #595959;
  }
}
